# cache / settings files
__pycache__
.vscode
temp/

# inputs & outputs
processed_cards/*
!processed_cards/.gitkeep
extracted_art/*
extracted_art/.gitkeep

spreadsheets/*
!spreadsheets/.gitkeep
existing_cards/*
!existing_cards/.gitkeep

images/art/*
images/art/overlays/*
!images/art/.gitkeep
!images/art/overlays/
!images/art/overlays/foil.png

# log/debug
log.txt
images/svg_to_png.py